/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */


@font-face {
  font-family: 'Amaranth';
  src: url('Amaranth.eot?#iefix') format('embedded-opentype'),  url('Amaranth.otf')  format('opentype'),
         url('Amaranth.woff') format('woff'), url('Amaranth.ttf')  format('truetype'), url('Amaranth.svg#Amaranth') format('svg');
  font-weight: normal;
  font-style: normal;
}



@font-face {
  font-family: 'Amaranth-Bold';
  src: url('Amaranth-Bold.eot?#iefix') format('embedded-opentype'),  url('Amaranth-Bold.otf')  format('opentype'),
         url('Amaranth-Bold.woff') format('woff'), url('Amaranth-Bold.ttf')  format('truetype'), url('Amaranth-Bold.svg#Amaranth-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}



html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}



/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    /*background: url(../img/background.jpg) no-repeat top center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    overflow: hidden;
}

html, body{
    width: 100%;
    height: 100%;
}


#content{
    width: 100%;
    height: 13%;
    position: absolute;
    z-index: 999;
    top: 34%;
    right: 0;
    z-index: 2;
}

#main{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    opacity: 0;
}

.wh{height:100% !important; width: auto; max-width: inherit !important;}
.ww{width:100% !important; height: auto; max-height: inherit !important;}

#bg{
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}



.content-text{
    text-align: right;
    font-size: 2.0vh;
    line-height: 3.0vh;
    float: right;
    height: 100%;
    display: table;
}


.content-text p{
    margin:0px;
    color:#ffffff;
    font-family: 'Amaranth';
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;

}

.content-text a{
    color:#ffffff;
    font-family: 'Amaranth-Bold';
    font-weight: 700; 
    text-decoration:none;
}

.content-text a:hover{
    text-decoration: underline;
}

.content-social{
    margin-right: 4%;
    height: 100%;
    white-space: nowrap;
    width: auto;
    text-align: right;
    position: relative;
    /*overflow: hidden;*/
    float: right;
    width: 50%;

}

.content-social a{
    display: block;
    width: auto;
    height: 100%;
    margin: 0px;
    float: right;
    padding: 0%;
    margin-left: 4%;
    /* margin-top: 2%; */
    box-sizing: border-box;
    padding: 10px 0;
}

.content-social a img{
    height: 100%;
    width: auto;
    display: block;
    /* margin-left: 20%; */
}

#facebook{
    background-position: 0px 0px;
}

#twitter{
    background-position: -83px 0px;
}

#instagram{
    background-position: -166px 0px;
}

#number{
    height: 30%;
    bottom: 4%;
    right: 4%;
    width: auto;
    position: absolute;
    z-index: 3;
}

img{
    display: none;
}

#logos{
    height: 7%;
    bottom: 4%;
    top: 4%;
    position: absolute;
    z-index: 4;
    width: auto;
}

#number img, #logos img{
    height: 100%;
    width: auto;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */



@media only screen and (max-width: 210px) {
    #number{
        left: 6px !important;
    }

}

@media only screen and (max-width: 800px) and (orientation: landscape){

    #logos {
        height: 10% !important;
    }
}


@media only screen and (max-width: 800px) and (orientation: portrait){
    .content-text{
        float: none;
        /* height: 45%; */
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 5px;
        display: block;
        /* vertical-align: bottom; */
        height: auto;
        font-size: 1.6vh;
        line-height: 2.0vh;
    }

    .content-social{
        float: none;
        height: 45%;
        position: absolute;
        top: 5px;
        width: 100%;
        right: 0;
        margin: 0;
        text-align: right;
    }

    .content-social a {
        display: inline-block;
        padding: 0;
        margin-left: 6%;
        width: auto;
        height: 100%;
        margin-top: 0;
    }

    .content-text p {
        display: block;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}